*{
    margin: 0px;
    padding: 0px;
}

/* ------------  NAV EDITS ----------- */
.nav-logo{
    display: block;
    width: 40%;
    height: auto;
}

/* ------------  EDITS ----------- */

.main-div{
    background-color: black;
}


.form{
    margin: 20px;
}

.table-productos {
    margin: 20px;
    background-color: black;
    text-align: center;
    padding: 40px;
}
h1{
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 4em;
}
h2 {
    text-align: center;
    color: white;
    font-weight: 800;
    padding: 10px;
}

p{
    color: white;
    font-size: 1em;
    font-weight: 500;
    padding: 20px;
}

th{
    color: white;
}

tbody{
    color: white;
}

.btn{
    margin: 10px;
}